.gameContainer{
  height: 600px;
  width:  550px;
  background-color: lightblue;
  margin: auto;
  position: relative;
}

.dog{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  margin-top: 600px;
}

.critter, .rat{
  height: 50px;
  width: 50px;
  background-color: blue;
 float: right;
}

.rat{
  background-color: grey;
  margin-top: 50px;
  position: absolute;
}

.firstSquirrel{
  height: 50px;
  width: 50px;
  background-color: grey;
  margin-top: 100px;
  position: absolute;
  animation-name: squirrelMove;
  animation-duration: 5s;
  /*animation-fill-mode: both;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.secondSquirrel{
  height: 50px;
  width: 50px;
  background-color: brown;
  margin-top: 200px;
  position: absolute;
  animation-name: squirrelMove;
  animation-duration: 2s;
  /*animation-fill-mode: both;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}
.thirdSquirrel{
  height: 50px;
  width: 50px;
  background-color: orange;
  margin-top: 300px;
  position: absolute;
  animation-name: squirrelMove;
  animation-duration: 3s;
  /*animation-fill-mode: both;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}
.fourthSquirrel{
  height: 50px;
  width: 50px;
  background-color: black;
  margin-top: 400px;
  position: absolute;
  animation-name: squirrelMove;
  animation-duration: 6s;
  /*animation-fill-mode: both;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}
.fifthSquirrel{
  height: 50px;
  width: 50px;
  background-color: purple;
  margin-top: 500px;
  position: absolute;
  animation-name: squirrelMove;
  animation-duration: 1s;
  /*animation-fill-mode: both;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.deathAnimation {
  animation-name: rotateZ;
  animation: rotatez 5s 3 alternate;
}

@keyframes rotateZ {
  0% {
    transform: perspective(1500px) rotateZ(0);
  }
  50% {
    transform: perspective(500px) rotateZ(150deg);
  }
  100% {
    transform: perspective(500px) rotateZ(10deg);
  }
}

.squirrelMovement {
  position: absolute;
  animation-name: squirrelMove;
  animation-duration: 3s;
  /*animation-fill-mode: both;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes squirrelMove {
   from {transform: translateX(0);}
   to {transform: translateX(450px);},

}



